<h1>How to add a browser widget to your stream.</h1>
<h2>Using OBS Studio</h2>
<h3>Step 1: Configure your chat widget</h3>
<p>Start by creating <a [routerLink]="['', 'config', 'chat']" >a new chat overlay widget</a> with the settings that you want.</p>
<p>To use another font, make sure you choose a font from <a target="_blank" href="https://fonts.google.com">Google Fonts</a> and enter the name of the font exactly how it is shown.</p>
<p>There are multiple other settings you may configure to your liking.</p>
<p>Once you are satisifed with the settings, you may click 'Debug' to see how a bunch of messages will look inside of your widget. Please note the background on the preview is only available during configuration.</p>
<p>To get the URL of the widget, click on the Widget URL input box, it will auto select and copy the URL text.</p>
<h3>Step 2: Add a Browser source</h3>
<img class="faq__image" src="./assets/images/faq_add_browser.png" alt="Add a browser source to your scene."/>
<p>Right click on your scene and select Add -> Browser.</p>
<h3>Step 3: Configure the URL, width, and height</h3>
<img class="faq__image" src="./assets/images/faq_enter_details.png" alt="Enter the details for the browser source."/>
<p>Set the URL to the copied URL from the <a [routerLink]="['', 'config', 'chat']" >chat widget</a> configuration. Set the width and height to your desired preferences.</p>
<h3>Step 4: Position the newly created widget source</h3>
<img class="faq__image" src="./assets/images/faq_position_source.png" alt="Position the newly created browser source."/>
<p>Move the browser source to the location where you want the chat overlay to display.</p>
<p>Great! You are finished setting up the widget, enjoy your streaming with your new chat overlay.</p>