<nav class="header">
    <div [routerLink]="['']" class="header__icon-container">
        <img class="header__icon" src="./assets/images/logo.png">
    </div>
    <div [routerLink]="['', 'config', 'chat']"  routerLinkActive="active-link" class="header__link">
        Chat Widget
    </div>
    <div [routerLink]="['', 'faq']" routerLinkActive="active-link" class="header__link">
        Setup Instructions
    </div>
    <div class="header__icon-container"></div>
</nav>
<main class="main">
    <router-outlet></router-outlet>
</main>