<div #container class="container">
  <div class="message" *ngFor="let messageEvent of (tmi.messages$ | async) | slice: -50">
    <span class="message_user" [ngStyle]="tmi.getStyle(messageEvent)">
      <img *ngIf="messageEvent.userstate.badges?.broadcaster" class="message__badge" src="../assets/images/broadcaster.png" />{{ messageEvent.userstate['display-name'] }}</span>
    <span class="message__text">: </span>
    <div class="message__wrap" *ngFor="let part of tmi.getMessageParts(messageEvent)">
      <img *ngIf="part.image" class="message__emoji" src="http://static-cdn.jtvnw.net/emoticons/v1/{{part.image}}/1.0" />
      <span *ngIf="!part.image" class="message__text">{{ part }}</span>
    </div>
  </div>
</div>