<h1 class="header">Chat Widget Settings</h1>
<div>
    <label class="label">Channel: </label>
    <input type="text" [ngModel]="config.channel$ | async"
        (ngModelChange)="config.channel$.next(config.sanitize($event))" />
</div>
<div>
    <label class="label">Text Color: </label><input type="color" [ngModel]="config.textColor$ | async"
        (ngModelChange)="config.textColor$.next('#'+config.sanitize($event))" />
</div>
<div>
    <label class="label">Font Family: </label>
    <input type="text" [ngModel]="config.fontFamily$ | async"
        (ngModelChange)="config.fontFamily$.next(config.sanitize($event))" />
</div>
<div>
    <label class="label">Font Size: </label>
    <input type="number" [ngModel]="config.fontSize$ | async"
        (ngModelChange)="config.fontSize$.next($event)" />
</div>
<div>
    <label class="label">Display badges: </label>
    <input type="checkbox" [ngModel]="config.displayBadges$ | async"
        (ngModelChange)="config.displayBadges$.next($event)" />
</div>
<div>
    <label class="label">Animations: </label>
    <input type="checkbox" [ngModel]="config.displayAnimations$ | async"
        (ngModelChange)="config.displayAnimations$.next($event)" />
</div>
<div>
    <label class="label">Widget URL: </label><input readonly (click)="copy($event)" #configUrl class="config__url"
        type="text" [value]="getWidgetLink()" />
</div>
<div>
    <button (click)="config.debug$.next($event)">Debug</button>
</div>
<h2>Chat Widget Preview</h2>
<div class="preview">
    <app-chat-widget></app-chat-widget>
</div>